*{
    padding: 0px;
    margin: 0px;

}

/******************************************************************/
                /* IMPORTAMOS LAS FUENTES */
@font-face{  /* regla para importar una gfuente*/
font-family: "yanone";/*nombre de la fuente */
src:url("./fonts/yanone.ttf");/*origen de la fuente*/
}

@font-face{
font-family: "finger";
src: url("./fonts/finger.ttf");

}


/*****************************************************************/
                        /* GENERALES */
body{
    font-family: "yanone",Arial, Helvetica, sans-serif;
font-size: 20px;
background:url("../img/pattern.png") ;
background-attachment:  fixed;/* PARA QUE LA IMAGEN DE FONDO QUEDE ESTATICA*/

}
.clearfix{
    float:none;
    clear: both;

}
/***************************************************************/



/*******************BARRA DE NAVEGACION******************************/
header{
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53, 103, 164, 0.8);
    position:fixed; 
}
header ul{
    display: block;
    width: 38%;
height: inherit;
margin: 0px auto;

}
header ul li{
    display: inline-block;
    margin:0px auto;
    text-align: center;
    line-height: 88px;
    margin-top: -3px;
}
header a{
display: block;
padding-right: 20px;
padding-left: 20px;
height: inherit;
text-decoration: none;
color: white;
transition: all 300ms;
}
header a:hover , .actived{
background: rgba(0, 0, 0, 0.8)
}
/***************************************************************/

/*********************************LOGO TIPO**********************/
#logo{
    font-family: "finger";
    font-size: 30px;
}
#logo a{
    transition: color 500ms,transform 500ms;
}
 #logo a:hover{
    background: transparent;
color: black;
transform: scale(1.50,1.50);/*HACE EL EFECTO DE AUMENTAR EL TAMAÑO DEL LOGO*/
    }
/***************************************************************/

/****************************CONTENEDOR PRINCIPAL*******************/
#content{

    height: auto!important;
    width: 75%;

    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
}
/***************************************************************/

/****************************FOOTER*******************************/
footer{
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}
/***************************************************************/

/****************************SOBRE MI *******************************/
#title{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

#title h1{
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
#title h4{
    color: gray;
}
#title h3{
   margin-bottom: 5px;
    font-size: 25;
    padding-bottom: 5px;
    color: gray;
}

article.about{
width: 70%;
margin: 0 auto;
margin-bottom: 20px;
font-size: 23px;     
}
.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    }
.about p{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}
/***************************************************************/

/********************SECCION CON FORMULARIO********************/
.container{
    overflow:hidden;
    padding: 50px;
padding-top: 10px;

}
.container .image{
 float: left;
 width: 47%;
}

.container .image img{
    float: left;
    width: 100%;
   }
   .container .data{
    float: left;
    width: 49%;
   margin-left: 30px;
   }
.container h2{
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
form{
    width: 50%;
    
}
form label{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}
form input[type="text"],
input[type="email"],input[type="number"],form textarea{
    width: 80%;
    padding: 5px;
}
.btnEdit,.btnDelete{
    width: 20%;
    float: left;
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid black!important;;
   

}
.btnDelete{
    background: red!important;
}
.btnEdit{
    background: orange!important;
}

form button, form input[type="submit"],.btnEdit,.btnDelete{
font-size: 17px;
padding: 05px;
display: block;
margin-top: 15px;
color: white;

padding: 10px;
background: rgb(3, 65, 136);
border:1px solid rgba(13, 67, 133,1);
cursor: pointer;
}
form input[disabled]{
cursor: not-allowed;
opacity: 0.4;
}

form button:hover, form input[type="submit"]:hover{
    background: rgba(137, 167, 202,0.8);
    border:1px solid rgba(13, 67, 133,1);

}
.form_error{
   padding-top:5px; 
    margin: 5px;
    color: white;
    background: red;
}

.message{
    padding: 5px;
    border:1px solid #eee;
    width: 50%;
    
}
.success{
    background: green;
    color: white;
}
.success a{
color: white;
}
.failed{
    background: red;
    color:white;
}
.message a{
    color: white;
}
/***************************************************************/

/***************************PAGINA DE PROYECTOS*************************/
.project img{
width: 100%;

}
.project{
    text-align: center;
    margin-left: 75px;
    margin-bottom: 50px;
   
    display: inline-block;
    list-style: none;

width: 25%;
}
.project .image{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.project a{
    text-decoration: none;
    color: black;
}

/***************************************************************/