<div class="container">
    <h2>Projectos</h2>
    <ul>
        <li *ngFor="let project of projects" class="project">
            <a [routerLink]="['/detalle',project._id]">
            <div class="image">
                <img src="{{url+'get-imagen/'+project.image}}" *ngIf="project.image" alt="">
            </div>
   
            <h3> {{project.name}}</h3> </a>
            <p> {{project.descripcion}}</p>
            <p> {{project.categoria}}</p>
            <p> {{project.tecnologia}}</p>
            <p> {{project.year}}</p>
    
        </li>
    </ul>


</div>