<div id="title">
    <h1>{{title}}</h1>
    <h3>{{subtitle}}</h3>
    <h4>{{email}}</h4>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque cum, ipsum ex sed id doloremque vel modi, quos
        dolorum nam, sit maxime officiis aperiam dolor sequi quaerat adipisci iusto nobis.lo
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi similique nemo ullam odit temporibus ipsum
        totam porro odio quam quas ipsam cupiditate corporis impedit quis inventore, neque veritatis iure laboriosam.
    </p>

</article>