<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <header>
  
    <ul>
      <!--LA PARTE DE [routerLinkActive]="['actived']" HACE QUE SE MARQUE EN QUE SECCION ESTAMOS-->
      <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi </a></li>
      <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos </a></li>
      <li id="logo"><a href="#">VR</a></li>
      <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyectos</a> </li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    </ul>
  </header>


  <section id="content">
      <router-outlet></router-outlet>

     </section>


<footer>

  MASTER EN JAVASCRIPT &copy;
</footer>

  

</body>

</html>